<div id="menu" role="navigation" style="margin-top: 50px;position: fixed;">
    <!--<ul class="main-menu">
        <li class="active"><a href="http://nightskyadmin.com/demo-bs3/template/dashboard.html"><i class="general"></i>General</a>
        </li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/ui.html"><i class="components"></i> UI</a></li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/forms.html"><i class="forms"></i> Forms</a></li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/charts.html"><i class="statistics"></i> Statistics</a>
        </li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/typo.html"><i class="pages"></i> Pages</a></li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/tables.html"><i class="tables"></i> Tables</a></li>
        <li><a href="http://nightskyadmin.com/demo-bs3/template/contacts.html"><i class="bonus"></i> Bonus</a></li>
    </ul>   -->
    <ul class="main-menu">
        <li class="active"><a class="btn btn-lg spar-list" href="/athlete"><i class="fa fa-cog fa-2x"></i>athlete</a></li>
        <!--<li><a class="btn btn-lg spar-list" href="/auth"><i class="fa fa-cog fa-2x"></i>auth</a></li>-->
        <li><a class="btn btn-lg spar-list" href="/boarddetail"><i class="fa fa-cog fa-2x"></i>board</a></li>
        <li><a class="btn btn-lg spar-list" href="/boardtracksession"><i class="fa fa-cog fa-2x"></i>boardtrack</a></li>
        <li><a class="btn btn-lg spar-list" href="/finishedsessiondatacollection"><i class="fa fa-cog fa-2x"></i>finished</a></li>
        <!--<li><a class="btn btn-lg spar-list" href="/home"><i class="fa fa-cog fa-2x"></i>home</a></li>-->
        <li><a class="btn btn-lg spar-list" href="/informationtype"><i class="fa fa-cog fa-2x"></i>information</a></li>
        <!--<li><a class="btn btn-lg spar-list" href="/ongoingdatacollection"><i class="fa fa-cog fa-2x"></i>ongoing</a></li>-->

        <!--
        <li><a class="btn btn-lg spar-list" href="/sessiontype"><i class="fa fa-cog fa-2x"></i>session</a></li>
        <li><a class="btn btn-lg spar-list" href="/sporttype"><i class="fa fa-cog fa-2x"></i>sport</a></li>
        <li><a class="btn btn-lg spar-list" href="/testegraph"><i class="fa fa-area-chart fa-2x"></i>graph</a></li>
        <li><a class="btn btn-lg spar-list" href="/trackathlete"><i class="fa fa-cog fa-2x"></i>track</a></li>

        <!--<li><a class="btn btn-lg spar-list" href="/tracksessionconfiguration"><i class="fa fa-cog fa-2x"></i>tracksession</a></li>-->

        <li><a class="btn btn-lg spar-list" href="/trainer"><i class="fa fa-cog fa-2x"></i>trainer</a></li>
    </ul>
</div>