<!DOCTYPE html>
<html>
<head>
    <title><%= __('Sport Project') %> - Bolsa</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%= __('Sport Project') %>">
    <meta name="author" content="Ricardo Mendes">
    <meta charset="utf-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <!--STYLES-->

    <script src="/js/jquery-2.1.4.js"></script>
    <!--<script src="/js/geral.js"></script>-->
    <script src="/js/dependencies/sails.io.js"></script>
</head>

<body style="margin-top: 50px;">
<%- partial('partials/header') %>
<div class="container">
    <%- body %>
</div>

<!--SCRIPTS-->
<script src="/js/bootstrap.min.js"></script>
<!--SCRIPTS-->
</body>
</html>
