<div class="container">
    <h1>RealTime</h1>
    <a href="/testegraph/accelerationRealTime" class="btn btn-lg btn-success spar-list">accelerationRealTime</a>
    <a href="/testegraph/accelerationRealTime123" class="btn btn-lg btn-success spar-list">accelerationRealTime123</a>
    <a href="/testegraph/temperatureRealTime" class="btn btn-lg btn-success spar-list">temperatureRealTime</a>
    <h1>Others</h1>
    <a href="/testegraph/acceleration" class="btn btn-lg btn-success spar-list">acceleration</a>
    <a href="/testegraph/acceleration2acceleration" class="btn btn-lg btn-success spar-list">acceleration2acceleration</a>
    <a href="/testegraph/gauge1" class="btn btn-lg btn-success spar-list">gauge1</a>
    <a href="/testegraph/gauge2" class="btn btn-lg btn-success spar-list">gauge2</a>
    <a href="/testegraph/heapmap" class="btn btn-lg btn-success spar-list">heapmap</a>
    <a href="/testegraph/map" class="btn btn-lg btn-success spar-list">map</a>
    <a href="/testegraph/mapacc" class="btn btn-lg btn-success spar-list">mapacc</a>
    <a href="/testegraph/temperature" class="btn btn-lg btn-success spar-list">temperature</a>
    <a href="/testegraph/threejs" class="btn btn-lg btn-success spar-list">threejs</a>
    <a href="/testegraph/windchart" class="btn btn-lg btn-success spar-list">windchart</a>
    <a href="/testegraph/radarchart" class="btn btn-lg btn-success spar-list">RadarChart</a>
</div>
<a href="/">all scaffolds</a>
